@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);






#header1-0 .btn {
  font-size: 20px;
}
#header1-0 H1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 72px;
  text-align: center;
  color: #f1c050;
}
#header1-0 P {
  color: #f1c050;
  font-size: 24px;
}
#content5-1 .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#content5-1 P {
  text-align: left;
}
#msg-box2-f H2 {
  font-size: 46px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
#msg-box2-h H2 {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  text-align: right;
}
#ext_menu-9 .navbar-toggler {
  color: #e6e0dc;
}
#ext_menu-9 .navbar-brand {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
#ext_menu-9 .nav-link {
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
}
